//BREAK POINTS
$breakpoint-xs: 375;
$breakpoint-s: 576;
$breakpoint-md: 768;
$breakpoint-lg: 992;
$breakpoint-xl: 1024;
$breakpoint-2xl: 1200;

// COLORS
$clr-white: #fff;
$clr-light: #f8f8f8;

$clr-primary: #011e3f;
$clr-accent: #f66f07;

$clr-secondary-1: #eaccee;
$clr-secondary-2: #fde9eb;
$clr-secondary-3: #ebd79b;
$clr-secondary-4: #fef8da;
$clr-secondary-5: #e1edff;
$clr-secondary-6: #c9e2fe;
$clr-secondary-7: #3391fb;

$clr-gray: #57575f;
$clr-gray-light: #f5f5f6;
$clr-dark: rgba(0, 0, 0, 0.2);
$clr-dark-2: rgba(0, 0, 0, 0.075);
$clr-black: #000;
