#hero {
  width: 100%;
  position: relative;

  .hero__wrapper {
    @include grid(center, center);
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    height: fit-content;

    @media screen and (max-width: #{$breakpoint-md}px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr) auto;
    }
  }

  .hero__content {
    grid-area: 1 / 1 / 3 / 3;
    height: 100%;
    background: $clr-gray-light;

    @media screen and (max-width: #{$breakpoint-md}px) {
      grid-area: 1 / 4 / 2 / 2;
      width: 100%;
      gap: 2rem;
      align-self: flex-start;
    }
  }

  .hero__center-images {
    grid-area: 1 / 2 / 3 / 4;

    z-index: 5;
    @include flex(column, space-around, center, 5rem);
    height: 100%;
    padding: 10rem 0;
    img {
      aspect-ratio: 1;
      border-radius: 50%;
      @include transition-3ms;
      cursor: pointer;

      &:hover {
        // filter: drop-shadow(0.5rem 0.5rem 1.5rem $clr-accent);
        transform: scale(1.2);
      }
  .hero__right-image {
    grid-area: 1 / 3 / 3 / 5;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }

  .search__wrapper {
    grid-area: 2 / 1 / 4 / 6;
    width: 90%;
