#hero {
  width: 100%;
  position: relative;

  .hero__wrapper {
    @include grid(center, center);
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    height: fit-content;

  .hero__content {
    grid-area: 1 / 1 / 3 / 3;
    height: 100%;
    background: $clr-gray-light;

  .hero__center-images {
    grid-area: 1 / 2 / 3 / 4;

  .hero__right-image {
    grid-area: 1 / 3 / 3 / 5;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
