.btn {
  background: $clr-accent;
  color: $clr-white;
  font-size: clamp(1rem, 2vw, 1.7rem);

  cursor: pointer;
  @include transition-3ms;

  &:hover {
    background: darken($clr-accent, 5%);
  }
}

.btn--primary {
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  padding: clamp(1rem, 1vw, 1.5rem) clamp(1rem, 3vw, 3rem);
}

