  .header__lists {
    @include flex(row, center, center, 3rem);

    @media screen and (max-width: #{$breakpoint-md}px) {
      @include flex(column, center, center, 5rem);
      height: 100%;
      width: 100%;
      margin-top: 10rem;
    }

    .header__list {
      border-radius: 1rem;

      &:last-child {
        @include transition-3ms;
        padding: 1rem 2rem;
        cursor: pointer;
        background: $clr-primary;

        .header__link {
          color: $clr-white;
          padding: 1rem 2rem;
        }

        &:hover {
          background: lighten($clr-primary, 5%);
        }
      }
    }
  }
